<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zoom"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk android:minSdkVersion="10" />
    
    <application
        android:icon="@drawable/location_icon"
        android:label="ZOOM" >
        
        <uses-library android:name="com.google.android.maps" />
        
        
        
        <activity android:name=".Activity_FriendPicker"
                  android:label="@string/app_name" />
        <activity android:name="com.facebook.LoginActivity" android:label="@string/app_name"></activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        
        
        
        <activity
            android:name=".Activity_Start"
            android:label="@string/app_name" 
            android:windowSoftInputMode="adjustResize">  
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>          
        </activity>
        
        
        <activity
            android:label="Create Message"
            android:name=".Activity_CreateMessage"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:label="Messages"
            android:name=".Activity_ViewMessages" 
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        
        
        <activity
            android:label="@string/app_name"
            android:name=".Activity_GoogleMap"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" 
            android:configChanges="orientation">
            
        </activity>          
        <activity
            android:label="Voice Commands"
            android:name=".Activity_VoiceCommands"
            android:theme="@android:style/Theme.Dialog" >
        </activity>  
        <activity
            android:label="Collect Data"
            android:screenOrientation="portrait"
            android:name=".Activity_CollectData"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        </activity>   
        <activity
            android:label="Routes"
            android:name=".Activity_Routes"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:label="Route Data"
            android:name=".Activity_RouteData"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <activity
            android:label="Directions"
            android:name="com.zoom.Activity_DirectionList"
            android:theme="@android:style/Theme.Dialog" >
        </activity>         
        <activity
            android:label="Image"
            android:name=".Activity_ViewImage"
            android:theme="@android:style/Theme.Dialog" >
        </activity> 
        <activity
            android:label="Login"
            android:name=".Activity_Webview" >
        </activity> 
    </application>    

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> 
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    
</manifest>